<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Get Users Above Age</title>
    </head>
    <body style="text-align:center; font-family:sans-serif; margin-top:50px;">
        <h2>Enter Minimum Age</h2>

        <form action="/api/filters/age/between" method="post">
            <input type="number" name="min_age" placeholder="Enter min age" required>

            <input type="number" name="max_age" placeholder="Enter max age" required>

            <br><br>
            <button type="submit">Show Users</button>
        </form>

        <br>
        <a href="/">⬅ Back to Home Page</a>
    </body>
</html>