<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Get Users Above Age</title>
    </head>
    <body style="text-align:center; font-family:sans-serif; margin-top:50px;">
        <h2>Enter Minimum Age</h2>

        <form action="/users_above_show" method="post">
            <input type="number" name="age" placeholder="Enter age" required>
            <br><br>
            <button type="submit">Show Users</button>
        </form>

        <br>
        <a href="/">⬅ Back to Home Page</a>
    </body>
</html>