<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Delete User</title>

    </head>
    <body>
        <h2>Please enter your ID:</h2>

        <form action="/delete_user" method="post">

            <label>Enter User ID:</label><br>
            <input type="number" id="id" name="id" placeholder="Your id" required>
            <button type="submit">Submit</button>

        </form>

        <br>
        <a href="/" style="text-decoration:none; color:blue;">⬅ Back to Home Page</a>
    </body>
</html>
