<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create User (Test)</title>
          <style>
        body {
            text-align: center;
            margin-top: 80px;
        }
        form {
            display: inline-block;
            text-align: left;
        }
    </style>
    </head>
    <body>

        <h2>Create a New User</h2>

        <form action="{{ request.url_for('api_contacts_create') }}" method="post">

            <label for="name">Name:</label>
            <input id="name" type="text" name="name" required><br><br>

            <label for="email">Email:</label>
            <input id="email" type="email" name="email" required><br><br>

            <label for="id">ID:</label>
            <input id="id" type="number" name="id" required><br><br>

            <label for="date_of_birth">Date of Birth:</label>
            <input id="date_of_birth" type="date" name="date_of_birth" required><br><br>

            <button type="submit">Submit</button>


        </form>
       <br>

        <a href="/menu">⬅ Back to Home Page</a>

    </body>
</html>
