<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>

    <style>
        body {
            text-align: center;
            margin-top: 80px;
        }
        form {
            display: inline-block;
            text-align: left;
        }
    </style>
</head>
<body>

    <h2>Please enter your ID:</h2>

    <form action="{{ request.url_for('api_users_delete') }}" method="post">
        <label for="id">Enter User ID</label><br>
        <input id="id" type="number" name="id" placeholder="Your id" min="0" required>
        <br><br>
        <button type="submit">Submit</button>
    </form>

    <br><br>
    <a href="/" style="text-decoration:none; color:blue;">⬅ Back to Home Page</a>

</body>
</html>
