<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Get Users Above Age</title>
    </head>
    <body style="text-align:center; font-family:sans-serif; margin-top:50px;">
        <h2>Enter Minimum Age</h2>

        <form action="{{ request.url_for('api_age_between') }}" method="post">

            <label for="min_age">Enter Min Age</label><br>
            <input id="min_age" type="number" name="min_age" placeholder="Enter min age" min="0" required>
            <label for="max_age">Enter Min Age</label><br>
            <input id="max_age" type="number" name="max_age" placeholder="Enter max age" min="0" required>
            <br><br>
            <button type="submit">Show Users</button>
        </form>

        <br>
        <a href="/">⬅ Back to Home Page</a>
    </body>
</html>